server:
  port: 3010
  address: localhost

spring:
  application:
    name: CareemSystem
  datasource:
    url: jdbc:postgresql://localhost:5495/careemsystem
    username: Wassem
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
#        hibernate:
#          enable_hibernate_spatial = true
    show-sql: true


    #uploading direction
  file:
    upload-dir

  mail:
    host: smtp.gmail.com
    port: 587
    username: wasee.tenbakji@gmail.com  # Replace with your actual Gmail address
    password: uphkmwhxuoapuuwi  # Replace with your actual Gmail password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true  # This is the correct property name for enabling TLS
  servlet:
    multipart:
      max-request-size: 1650MB
      max-file-size: 1650MB
